@use "abstracts" as *;

// Import your custom hook file in global scope
// @use "builds/uikit/hooks-theme/index" as *;
@import "styles";
// @import "@splidejs/splide/dist/css/splide-core.min.css";
// @import "@splidejs/splide/dist/css/splide.min.css";
// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
