/*
This file is the entry point for Tailwind CSS.
It will be processed by PostCSS to generate the final tailwind.css file.
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ATS Button Components */
@layer components {
	@import "tailwind/index";
	@import "styles/checkout";
}
