@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	font-stretch: normal;
	src: url(assets/fonts/Open_Sans-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	font-stretch: normal;
	src: url(assets/fonts/Open_Sans-normal-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	font-stretch: normal;
	src: url(assets/fonts/Open_Sans-normal-600.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	font-stretch: normal;
	src: url(assets/fonts/Open_Sans-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	font-stretch: normal;
	src: url(assets/fonts/Open_Sans-normal-800.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

