// Hide breadcrumbs on single product pages
.single-product .woocommerce-breadcrumb {
	@apply hidden !important;
}

.product {
	.single-product-title {
		@apply self-stretch justify-start text-black text-2xl font-bold;
	}
}
