// MEssages
.ats-message {
	@apply font-bold border px-4 py-2 text-sm rounded rounded-md;
}
.woocommerce-notices-wrapper {
	.woocommerce-message {
		@apply ats-message bg-green-700 text-white  border-green-500;
	}
}
